
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #fafffb;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 17vw;
  margin: 0 auto;
}

.secundary-logo {
  display: flex;
  width: 22vw;
  margin: 20px auto 50px;
}

.title {
  margin-top: 40px;
  text-align: center;
  font-family:'roboto',sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  color: #4b4b4b;
}

span {
  color: #21b800;
}

.alinhamento-quiz {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  width: 70%;
  height:50%;
  border:2px solid #ccc;
  border-radius: 20px;
}

.bar1 {
  display: flex;
  margin: auto;
  width:700px;

}


#pergunta {
  margin:14px auto;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  color: #3c506f;
}

.ffemi {
  margin-top: 3px;
  width: 210px;
}

.genero-container {
  display: flex;
  justify-content: center;
}

.perfil-container {
    margin: auto;
}

.fmasc {
    display: flex;
    width: 200px;
    margin: auto;
    text-align: center;
}


.cadeado {
  display: flex;
  margin: auto;
  width: 30px;
}

.texto-do-ssl {
    display: flex;
    color: #7a7a7a;
    font-size: 13px;
    font-family: 'roboto', sans-serif;
    line-height: 19.5px;
    margin-top: 5px;
    justify-content: center;
}

/* Botao */
.cta {
    display: flex;
    position: relative;
    margin: 12px auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;

   }
  
   .cta:before {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #43f3ea;
    width: 45px;
    height: 45px;
    transition: all .4s ease;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
   }
   
   .cta svg {
    position: relative;
    top: 5px;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #3fdfd7;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #3fdfd7;
   }
   
   .cta:hover svg {
    transform: translateX(0);
    stroke: #3c506f;
   }
   
   .cta:active {
    transform: scale(0.95);
   }



@media (max-width:1025px) {

    .bar1 {
        width: 600px;
    }

    .alinhamento-quiz  {
        width:90vw;
    }
}

@media (max-width:862px) {

    .logo {
      width: 25vw;
    }

    .secundary-logo {
      width: 30vw;
      margin-bottom: 0;
    }

    .bar1 {
        width: 80vw;
    }
  
    .alinhamento-quiz  {
        width: 90vw;
        margin: auto;
    }

    .title {
      font-size:  25px;
      margin-top: 0;
    }
}

@media (max-width:571px) {

    .logo {
      width: 33vw;
    }
    .secundary-logo {
      width: 38vw;
      margin-top: 5px;
    }

    .title {
      font-size: 25px;
    }
    .alinhamento-quiz   {
        width: 95vw;
    }

    .bar1 {
      width: 85vw;
    }

    .fmasc {
        width: 25vw;
    }

    .ffemi {
        width: 25.5vw;
    }

    .cta {
      
      span {
        font-size:18px;
      }

      &:before {
        width: 7vw;
        height: 8vh;
      }
    }

  



}

@media (max-width:497px) {

  .logo {
    width: 40vw;
  }
  .secundary-logo {
    width: 45vw;
  }

  .title {
    font-size: 23px;
  }
  
  .alinhamento-quiz {
    width: 88%;
    margin:0 auto;

  }

  .bar1 {
    width: 76vw;
  }

  #pergunta {
    font-size: 24px
  }

  .cta {

    span {
      font-size: 12px;
    } 

    &:before {
      width: 7vw;
      height: 39px;
    }
    
    svg {
      display: none;
    }
  }

  .cadeado {
    width: 25px;
  }
}

@media (max-width:393px) {

  .cta {

    padding: 10px 0;

    span {
      font-size: 12px;
      padding-left:1px;
    }

    &:before {
      width: 40px;
      height:35px;
    }

  }
  .cadeado {
    width: 20px;
  }
  .texto-do-ssl{
    font-size: 12px;
  }
}

@media (min-width:2500px) {

  .secundary-logo {
    width: 20vw;
  }
  .alinhamento-quiz {
    width: 80%;
  }

  .bar1 {
    width: 55vw;
  }

  .title {
    font-size: 50px;
    padding-bottom: 25px;
  }
    #pergunta {
    font-size: 50px;
  }
  .fmasc {
    width: 17vw;
  }
  .ffemi {
    width: 17.5vw;
    margin-top: 20px;
  }
  
  .cta {

    span {
      font-size: 35px;
    }

    svg {
      width: 26px;
      height: 26px;
      margin-top: 4px;
    }
    &:before {
      height: 60px;
    }

  }
  .cadeado {
    width: 55px;
  }

  .texto-do-ssl {
    font-size: 22px;
    margin-top: 12px;
  }

}