@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;800;900&display=swap);

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Outfit, arial;
  scroll-behavior: smooth;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background: rgb(63, 94, 251);
  background: linear-gradient(45deg, rgb(196, 247, 15) 80%, rgb(0, 0, 0) 80%);
  transition: all 0.4s;
}

.title {
  font-size: 3em;
  color: #000;
  animation: anime 2s infinite alternate-reverse;
}

@keyframes anime {
  to {
    transform: translateY(-10px);
  }
}
