/* paletas
Roxo: #7214C9;
Roxo claro: #BEA0D3;
Preto: #201925;
Preto claro: #3A2A46;
*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', arial;
    background-color: #ede2f6;
}

.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 12.5px 12.5px 13px rgba(0, 0, 0, 0.13), 100px 100px 104px rgba(0, 0, 0, 0.065);
    transition: all 1s;
}

.container__bg {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    max-width: 1005px;
    margin: 40px auto;
    padding: 5px;
}

.container__btn {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.container h2 {
    margin-top: 30px;
    padding: 0;
    text-align: center;
}

.checkbox__container {
    position: relative;
}

.checkbox {
    all: inherit;
    margin: 20px;
    width: 120px;
    height: 120px;
    cursor: pointer;
    background-image: url(/imgs/homem.svg);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid #c4bbbb63;
    border-radius: 10px;
    transition: all 0.3s;
}

.checkbox:checked {
    background-image: url(/imgs/homem.active.svg);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid #7214c9;
    box-shadow: 0 20.5px 25px -18.5px #7214c9;
    transform: scale(1.05);
}

.checkbox.mulher {
    background-image: url(/imgs/mulher.svg);
}

.checkbox.mulher:checked {
    background-image: url(/imgs/mulher.active.svg);
}

.checkbox:hover {
    transform: scale(1.05);
}

.genero {
    font-family: 'Outfit', arial;
    font-size: 18px;
    font-weight: 700;
    bottom: -30px;
    left: 50px;
    right: 0;
    position: absolute;
}

.genero.homem {
    font-family: 'Outfit', arial;
    font-size: 18px;
    font-weight: 700;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
}

.genero.mulher {
    font-family: 'Outfit', arial;
    font-size: 18px;
    font-weight: 700;
}

.imc__corpo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.imc__corpo p {
    color: #000;
    font-weight: 600;
    font-size: 18px;
}

.imc__corpo p span {
    color: #7214c9;
}

.imc__input {
    width: 120px;
    height: 26px;
    margin: auto 30px;
    margin-bottom: 50px;
    padding-top: 14px;
    padding-bottom: 12px;
    font-family: 'Outfit', arial;
    font-size: 22px;
    text-align: center;
    color: #7214c9;
    cursor: pointer;
    border: 3px solid #c4bbbb63;
    border-radius: 10px;
    background: none;
    outline: none;
    transition: btn__calcularbtn__js-apagarall 0.5s ease-out;
}

.imc__input:hover,
.imc__input:focus {
    border-color: #7214c9;
    box-shadow: 0 15px 22px -16px #7214c9;
    transform: scale(1.05);
}

.imc__input::placeholder {
    font-size: 16px;
    text-align: center;
    color: rgba(0, 0, 0, 0.579);
    opacity: 0.7;
    transform: translateY(-5px);
}

.btn__container {
    display: flex;
    flex: wrap;
}

.btn__calcular {
    width: 160px;
    height: 50px;
    margin-right: 40px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 900;
    color: #7214c9;
    cursor: pointer;
    background: none;
    border: 3px solid #7214c9;
    border-radius: 15px;
    transition: all 0.4s;
}

.btn__calcular:hover {
    transform: scale(1.05);
    color: #fff;
    background-color: #7214c9;
}

.btn__calcular:active {
    transform: scale(.99);
}

.js-apagar {
    width: 160px;
    height: 50px;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 900;
    color: #FF246F;
    cursor: pointer;
    background: none;
    border: 3px solid #FF246F;
    border-radius: 15px;
    transition: all 0.4s;
}

.js-apagar:hover {
    transform: scale(1.05);
    color: #000;
    background-color: #FF246F;
}

.js-apagar:active {
    transform: scale(.99);
}

.resultado {
    display: none;
}

.resultado.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
    height: auto;
    margin:25px auto;
    padding-bottom: 30px;
    color: #fff;
    background-color: #3A2A46;
    border-radius: 5px;
    box-shadow: 12.5px 12.5px 13px rgba(0, 0, 0, 0.13), 100px 100px 104px rgba(0, 0, 0, 0.065);
    transform: scale(1.03);
    animation: anime 1s;
}

.grau__peso {
    width: 80%;
    margin-top: 80px;
    padding-bottom: 30px;
    font-size: 35px;
    text-align: center;
    border-bottom: 4px solid #1f142929;
    border-radius: 3px;
}

.boneco {
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 30px;
    border: 6px solid #7214c9;
    border-radius: 50%;
}

.resultado p {
    font-size: 30px;
    color: #ede2f6dc;
}

#js-genero {
    margin-top: 30px;
    padding: 5px;
    font-size: 25px;
    font-weight: 900;
    color: greenyellow;
    border: 3px solid greenyellow;
    border-radius: 10px 2px;
}

#js-imc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 190px;
    font-size: 45px;
    font-weight: 800;
    color: #ede2f6;
    border: 5px solid greenyellow;
    border-radius: 50%;
}


/* Tabela */

.js-tabela {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #ede2f6;
    animation: reveal 2s ease-in-out;
}

.js-tabela td:not(.tabela__titulo, .tb__titulo td) {
    border: 3px solid #7214c9;
    border-radius: 5px;
}

.tabela__titulo {
    padding: 8px;
    font-size: 17.5px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: #7214c9;
    border-radius: 5px;
}


.tb__titulo td {
    padding: 8px;
    font-size: 17px;
    text-align: center;
    font-weight: 700;
    color: rgba(172, 255, 47, 0.837);
    background-color: #3A2A46;
    border-radius: 5px;
    
}

.tb__item td {
    padding:10px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: #3A2A46;

}

.tb__item.result {
    background-color: rgba(172, 255, 47, 0.797);
}

.aviso {
    display: none;
}

.aviso.active {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 380px;
    max-width: 400px;
    margin:auto;
    padding: 35px;
    text-align: center;
    background-color: #201925;
    border-radius: 15px;
    animation: anime 1s;
}

.aviso h1 {
    margin: 0;
    font-size: 30px;
    color: #7214c9;
    border-radius: 15px;
    
}

.aviso h2 {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

.aviso strong {
    font-weight: 900;
    border-radius: 5px;
}


.btn__aviso {
    width: 160px;
    height: 45px;
    margin: 10px;
    font: 20px 'Outfit';
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    background-color: #7214c9;
    border: none;
    border-radius: 15px;
    transition: all .4s;
}

.btn__aviso:hover {
    color: #fff;
    background-color: #7214c9c3;
    transform: scale(1.03);
}

.btn__aviso:active {
    transform: scale(.99);
    transition: none;
}


.btn__aviso.menor {
    border:3px solid #FF246F;
    background:none ;
    color: #FF246F;
}
.btn__aviso.menor:hover {
    color: #fff;
    background-color: #FF246F;
}

@media (max-width:768px) {
    .resultado.active {
        transform: none;
        margin: -32px auto 5px;
    }
}

@keyframes anime {
    from {
        opacity: 0;
        transform: translateY(-800px);
    }
    to {
        opacity: 1;
    }
}


@keyframes reveal {
    0% {
        opacity: 0;
        transform: translate(0, -20%);    
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}


